.flex{
	display: flex;
}
.banner{
	width: 100%;
	height: 120px;
	background-color: aliceblue;
	justify-content: space-around;
	align-items: center;
}
.logo{
	width: 500px;
	height: 80px;
	display: flex;
	align-items: center;
	background-color: antiquewhite;
}
.logo a{
	font-size: 24px;
	text-decoration: none;
	color: black;
	margin: 0 auto;
	display: block;
	text-align: center;
}
.notice{
	width: 500px;
	height: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: aqua;
	justify-content: space-around;
}
.notice-content{
	overflow: hidden;
}
.notice h2{
	font-size: 18px;
}
.scrip{
	width: 100%;
	height: 40px;
	background-color: rgb(53, 255, 255);
	justify-content: end;
}
.scrip span{
	line-height: 40px;
}
.scrip a{
	line-height:40px;
	text-align: center;
	margin: 0 10px;
	text-decoration: none;
	color: black;
}
.scrip a:hover{
	color: cornflowerblue;
}