.container{
	width: 700px;
	/* height: 700px; */
	margin: 0 auto;
	background-color: bisque;
}
.content{
	width: 700px;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
.content-title{
	text-align: center;
}
.content-title p{
	display: block;
	font-size: 40px;
	width: 700px;
	height: 40px;
	margin: 20px 0;
}
.content-item{
	width: 690px;
	margin: 10px auto;
	text-indent: 2em;
	background-color: white;
}
.content-item p{
	width: 500px;
	margin: 10px auto;
	display: block;
	font-size: 18px;
}